<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SP80課題リンク集</title>
	<style>
		body {
			color: dimgray;
			font-size: 14px;
		}
		ol {
			counter-reset: step;
			margin: 0;
			padding: 0;
			list-style-type: none;
			line-height: 2.25;
		}
		ol li{
			width: fit-content;
		}
		ol li::before {
			counter-increment: step;
			content: "Step" counter(step) "：";
		}
		ol li:hover {
			font-weight: bold;
		}
	</style>
</head>
<body>
	<h1>SP80課題リンク集</h1>
	<main>
		<h2>商品一覧画面の機能追加</h2>
		<ol>
			<li><a href="http://localhost:8080/login" target="_blank">会員登録画面の追加</a></li>
			<li><a href="http://localhost:8080/login" target="_blank">会員画面登録処理の実装</a></li>
			<li><a href="http://localhost:8080/login" target="_blank">会員登録時の入力値チェックの実装</a></li>
			<li><a href="http://localhost:8080/login" target="_blank">ログイン機能の実装</a></li>
			<li><a href="http://localhost:8080/login" target="_blank">カート画面から遷移する注文画面にアカウント情報を表示</a></li>
		</ol>
	</main>
</body>
</html>